<ng-container *ngIf="{
    allDictionaryAnswers: allDictionaryAnswers$ | async,
    pronouncedText: pronouncedText$ | async
} as data">
    <div class="button-bar">
        <button class="clean" mat-fab color="primary" (click)="cleanup()">
            <mat-icon>delete</mat-icon>
        </button>
        <button class="start-stop" mat-fab color="primary" mat-raised-button (mouseenter)="startVoiceRecognition()"
            (touchenter)="startVoiceRecognition()" (mouseleave)="stopVoiceRecognition()"
            (touchleave)="stopVoiceRecognition()">
            <mat-icon>mic</mat-icon>
        </button>
        <span class="speech"><b><i>{{data.pronouncedText}}</i></b></span>
    </div>

    <ng-container *ngFor="let oneTechDictionaryAnswers of data.allDictionaryAnswers">
        <mat-card class="answer" *ngFor="let dictionaryAnswer of oneTechDictionaryAnswers">
            <p class="topic"><b>{{dictionaryAnswer.topic}}</b></p>
            <p innerHTML="{{dictionaryAnswer.answer}}"></p>
        </mat-card>
    </ng-container>
</ng-container>