@import '../../styles.scss';

:host {
    height: calc(100vh - $header-height);
    justify-content: center;
    min-width: 400px;
    overflow: auto;
    position: relative;
}

.button-bar {
    position: fixed;
    top: -32px;
    z-index: 10;

    button {
        box-shadow: none;
        margin: 8px 12px;

        &.start-stop {
            height: 80px;
            width: 80px;

            &:hover {
                background-color: crimson;
            }

            mat-icon {
                bottom: -8px;
                font-size: 40px;
                height: 40px;
                position: inherit;
                width: 40px;
            }
        }
    }
}

.card-size-button mat-icon {
    font-size: 32px;
    line-height: 24px;
    padding-right: 6px;
    rotate: 90deg;
}

.speech {
    color:grey;
    margin-top: 12px;
    text-align: center;
}

.topic {
    font-size: 18px;
}

.answer {
    margin: 12px;
    padding: 12px 12px 0 12px;
    width: 400px;

    mat-chip {
        margin-right: 8px;
    }

    .close {
        position: absolute;
        right: 16px;
        top: 4px;
    }
}