<ng-container *ngIf="{
    allDictionaryAnswers: allDictionaryAnswers$ | async,
    pronouncedText: pronouncedText$ | async
} as data">
    <div class="button-bar">
        <button class="text-size-button" mat-fab color="primary" (click)="decreaseText()">
            <mat-icon>text_decrease</mat-icon>
        </button>
        <button class="text-size-button" mat-fab color="primary" (click)="increaseText()">
            <mat-icon>text_increase</mat-icon>
        </button>
        <button class="card-size-button" mat-fab color="primary" (click)="squeezeCard()">
            <mat-icon>unfold_less</mat-icon>
        </button>
        <button class="card-size-button" mat-fab color="primary" (click)="widenCard()">
            <mat-icon>unfold_more</mat-icon>
        </button>
        <button class="clean" mat-fab color="primary" (click)="cleanup()">
            <mat-icon>delete</mat-icon>
        </button>
        <button 
            class="start-stop"
            mat-fab 
            color="primary" 
            mat-raised-button 
            (mouseenter)="startVoiceRecognition()"
            (touchenter)="startVoiceRecognition()" 
            (mouseleave)="stopVoiceRecognition()"
            (touchleave)="stopVoiceRecognition()">
            <mat-icon>mic</mat-icon>
        </button>
        <span class="speech"><b><i>{{data.pronouncedText}}</i></b></span>
    </div>

    <ng-container *ngFor="let oneTechDictionaryAnswers of data.allDictionaryAnswers">
        <mat-card 
            *ngFor="let dictionaryAnswer of oneTechDictionaryAnswers"
            class="answer"
            [style.font-size.px]="fontSizePx"
            [style.width.px]="answerCardWidthPx">
            <p class="topic"><b>{{dictionaryAnswer.topic}}</b></p>
            <p innerHTML="{{dictionaryAnswer.answer}}"></p>
        </mat-card>
    </ng-container>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
    <mat-card class="answer" [style.font-size.px]="fontSizePx" [style.width.px]="answerCardWidthPx">
        ;dlfks;df sl;dfk sd ;sdkf;lsd f;sdk f;lsd f;sd fs dfks;d ld;sfsdlkfgkdfghdkhgkd dfhg dfg
        dkghdkghkdghkdhgkdjhgdkjfg dkghdkjghdkjfghkdfgh dk fgdkghkdhgjkdgh dfghdfgkdhg dsfsdsdfsdf
        sdfsdfsdf kfjdlfgjldgjdgj sdfkjdlgj dfjgldsfkjglfdkg lfjgldskfjgldkf dfjg lkdf gkl
    </mat-card>
</ng-container>