:host {
    height: 90vh;
    justify-content: center;
    overflow: auto;
    position: relative;
    top: 80px;
    width: 100%;
}

.button-bar {
    position: fixed;
    top: 0;
    width: calc(100% - 120px);

    button {
        margin: 8px 12px;

        &.start-stop {
            height: 80px;
            width: 80px;

            &:hover {
                background-color: crimson;
            }

            mat-icon {
                font-size: 48px;
                height: 48px;
                width: 48px;
            }
        }
    }
}

.card-size-button mat-icon {
    font-size: 36px;
    rotate: 90deg;
}

.speech {
    color:grey;
    margin-top: 12px;
    text-align: center;
}

.topic {
    font-size: 18px;
}

.answer {
    margin: 12px;
    width: 400px;
}