:host {
    justify-content: center;
    position: relative;
    top: 120px;
    width: 100%;
}

.button-bar {
    position: fixed;
    top: 0;
    width: calc(100% - 120px);

    button {
        margin: 8px 12px;

        &.start-stop {
            height: 80px;
            width: 80px;

            &:hover {
                background-color: crimson;
            }

            mat-icon {
                font-size: 48px;
                height: 48px;
                width: 48px;
            }
        }
    }
}

.speech {
    margin-top: 12px;
    text-align: center;
}

.topic {
    font-size: 18px;
}

.answer {
    font-size: 16px;
    margin: 12px auto;
    width: 500px;
}