@import '../../styles';

:host {
    display: flex;
    height: calc(100vh - $header-height);;
    overflow: auto;
    width: 50%;
}

.knowledge {
    border-right: 1px solid lightgray;
    padding-left: $button-bar-width + 12px;
    width: calc(100% - $button-bar-width);
}

.answer {
    font-size: 12px;
    padding-bottom: 24px;
}

.button-bar {
    display: grid;
    height: 100vh;
    position: fixed;

    ::ng-deep {
        .mat-button-toggle-button {
            height: 100%;
            width: $button-bar-width;
        }

        .mat-button-toggle-label-content {
            padding: 0;
            transform: rotate(270deg);
        }
    }
}