<mat-button-toggle-group class="button-bar" name="tech">
    <mat-button-toggle *ngFor="let tech of techs$ | async" (change)="selectTech(tech)">
        <b>{{tech}}</b>
    </mat-button-toggle>
</mat-button-toggle-group>

<div class="knowledge">
    <div class="expand-collapse-buttons">
        <button mat-fab color="primary" (click)="expandAll()">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="collapseAll()">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
    </div>

    <details #details *ngFor="let topicAnswer of (selectedTechKnowledgeBase$ | async) | keyvalue">
        <summary><b>{{topicAnswer.key.split(':')[1]}}</b></summary>
        <p class="answer" [innerHtml]="topicAnswer.value.answer"></p>
    </details>
</div>