@import '../../styles';

:host {
    display: flex;
    height: calc(100vh - $header-height);
    width: 550px;
    overflow: auto;
}

.knowledge {
    padding: 12px 12px 12px $button-bar-width + 12px;
    width: calc(100% - $button-bar-width);
}

.horizontal-button-bar {
    position: fixed;
    top: -4px;
    z-index: 10;

    button {
        box-shadow: none;

        .sort {
            font-size: 26px;
        }

        .expand,
        .collapse {
            font-size: 40px;
            line-height: 24px;
            padding-right: 16px;
        }

        .new-answer {
            font-size: 26px;
            line-height: 24px;
            padding-right: 2px;
        }
    }
}

.answer {
    font-size: 12px;
    padding-bottom: 24px;
}

.img-icon {
    height: 16px;
    padding-right: 8px;
    vertical-align: middle;
}

.vertical-button-bar {
    display: grid;
    height: calc(100vh - $header-height);
    position: fixed;
    z-index: 10;

    ::ng-deep {
        .mat-button-toggle-button {
            height: 100%;
            width: calc($button-bar-width + 18px);
        }

        .mat-button-toggle-label-content {
            padding: 0;
            transform: rotate(315deg);
        }
    }
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}