<mat-button-toggle-group class="button-bar" name="tech">
    <mat-button-toggle *ngFor="let tech of techs" (change)="selectTech(tech)">
        <b>{{tech}}</b>
    </mat-button-toggle>
</mat-button-toggle-group>

<div class="knowledge">
    <div *ngFor="let topicAnswer of (selectedTechKnowledgeBase$ | async) | keyvalue">
        <details>
            <summary><b>{{topicAnswer.key.split(':')[1]}}</b></summary>
            <p class="answer" [innerHtml]="topicAnswer.value.answer"></p>
        </details>
    </div>
</div>