<mat-toolbar *ngIf="{
    isDarkTheme: isDarkTheme$ | async,
    user: user$ | async
} as data" color="primary">
    <span class="spacer"></span>

    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{data.isDarkTheme ? 'brightness_5' : 'brightness_4'}}</mat-icon>
    </button>
    
    <button mat-icon-button (click)="openTopicPanel()">
        <mat-icon class="new-answer">assignment_add</mat-icon>
    </button>

    <button mat-icon-button (click)="toggleSettings()">
        <mat-icon>settings</mat-icon>
    </button>

    <button *ngIf="!data.user" mat-icon-button (click)="signIn()">
        <mat-icon>login</mat-icon>
    </button>
    
    <button *ngIf="data.user" mat-icon-button [matMenuTriggerFor]="userMenu">
        <img class="user-img" [src]="data.user.photoURL">
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item  (click)="signOut()">
            <mat-icon>logout</mat-icon>Sign Out
        </button>
    </mat-menu>
</mat-toolbar>