@import '../../styles.scss';

.mat-toolbar {
    height: $header-height;
    position: fixed;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.user-img {
    border: 0px solid white;
    border-radius: 15px;
    height: 24px;
    width: 24px;
}