<mat-toolbar *ngIf="{user: user$ | async} as data" color="primary">
    <span>Tech Interview Helper</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>brightness_4</mat-icon>
    </button>
    <button *ngIf="!data.user" mat-icon-button (click)="signIn()">
        <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="data.user" mat-icon-button>
        <img class="user-img" [src]="data.user.photoURL"  [matMenuTriggerFor]="menu">
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item  (click)="signOut()">
            <mat-icon>logout</mat-icon>Sign Out
        </button>
      </mat-menu>
</mat-toolbar>