@import '../../styles.scss';

.mat-toolbar {
    height: $header-height;
    position: fixed;
    top: 0;
    width: 100%;
}

.new-answer {
    font-size: 26px;
    line-height: 24px;
    padding-right: 4px;
}

.spacer {
    flex: 1 1 auto;
}

.user-img {
    border: 0px solid white;
    border-radius: 15px;
    height: 24px;
    width: 24px;
}