@import '../../styles.scss';

.mat-toolbar {
    height: $header-height;
    position: fixed;
    width: 100%;
}

.meeting-link-field {
    font-size: 12px;

    button {
        box-shadow: none;
        top: 6px;
    }
}

.spacer {
    flex: 1 1 auto;
}

.user-img {
    border: 0px solid white;
    border-radius: 15px;
    height: 24px;
    width: 24px;
}