@import '../../styles.scss';

.header {
    display: flex;
    justify-content: space-between;

    h2 {
        margin: auto 16px;
    }
}

.scrollable {
    height: calc(100vh - $header-height - $panel-header-height - $panel-footer-height - 30px);
    overflow: auto;

    ::ng-deep {
        mat-form-field {
            .mdc-text-field {
                height: 26px;
                margin-left: 8px;
            }

            .mat-mdc-form-field-flex {
                width: 40px;

                .mat-mdc-form-field-infix {
                    padding: 0 !important;
                }
            }

            input.font-size {
                padding: 0;
            }
        }
    }
}

form,
.control {
    padding: 12px 0;
}

.scrollable {    
    padding: 12px 24px;
}

.color-picker {
    border: 0;
    padding: 0;
    width: 0;
}

tech-label {
    padding-left: 16px;
}

.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    button {
        margin: 16px;
        padding: 12px 48px;        
    }
}