<ng-container *ngIf="{
    hasVoiceRecognition: hasVoiceRecognition$ | async,
    settingsForm: settingsForm$ | async,
    techs: techs$ | async
} as data">
    <div class="header">
        <h2>Settings</h2>
        <button mat-icon-button (click)="close(data.settingsForm!, !!data.hasVoiceRecognition)">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="data.settingsForm!.controls.enabledTechs">
        <p>Knowledge base</p>
        <p *ngFor="let tech of data.techs">
            <mat-slide-toggle [formControlName]="tech" color="primary">{{tech}}</mat-slide-toggle>
        </p>
    </form>

    <mat-slide-toggle class="control" [formControl]="hasVoiceRecognition" color="primary">
        Voice recognition panel
    </mat-slide-toggle>

    <form [formGroup]="data.settingsForm!.controls.colors">
        <p><i class="highlight-example">Italics highlight</i></p>
        <p>
            <mat-label>Text</mat-label>
            <input matInput [formControl]="colorsForm.controls.textHighlightColor" color="primary"/>
        </p>
        <p>
            <mat-label>Background</mat-label>
            <input matInput [formControl]="colorsForm.controls.backgroundHighlightColor" color="primary"/>
        </p>
    </form>

    <div class="footer">
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="saveSettings(data.settingsForm!)">Save</button>
    </div>
</ng-container>