@import '../../styles.scss';

.header {
    display: flex;
    justify-content: space-between;
    width: $settings-panel-width;

    h2 {
        margin: auto 16px;
    }
}

form,
.control {
    padding: 12px 24px;
}

.color-picker {
    border: 0;
    padding: 0;
    width: 0;
}

tech-label {
    padding-left: 16px;
}

.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    button {
        margin: 16px;
        padding: 12px 48px;        
    }
}