<div class="header">
    <h2>Settings</h2>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider></mat-divider>

<form [formGroup]="settingsForm">
    <mat-form-field *ngFor="let tech of techs">
        <mat-slide-toggle
            [formControlName]="tech"
            [checked]="enabledTechs.includes(tech.toString())" color="primary">{{tech}}</mat-slide-toggle>
    </mat-form-field>
</form>

<button mat-raised-button color="primary">Save</button>