@import '../styles.scss';

mat-sidenav-container {
    top: $header-height;
}

.side-panel {
    overflow: hidden;
}

.outer-container {
    display: flex;
}

.inner-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}