:host {
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.start-stop {
    font-size: 16px;
    margin: 32px;
    padding: 12px;
    width: 300px;

    &:not(:hover):before {
        content: "Hover to start voice recognition";
    }

    &:hover {
        background-color: crimson;
    }

    &:hover:before {
        content: "Unhover to stop";
    }
}
