<div *ngIf="{
    activePanel: activePanel$ | async,
    isDarkTheme: isDarkTheme$ | async,
    meetingUrl: meetingUrl$ | async
} as data" 
    [class.app-mat-theme-dark]="data.isDarkTheme" 
    [class.app-mat-theme-light]="!data.isDarkTheme">
    <mat-sidenav-container (backdropClick)="closeSidePanel()">
        <mat-sidenav-content class="side-panel">
            <toolbar></toolbar>
            <div class="outer-container">
                <div class="inner-container">
                    <knowledge-sidebar></knowledge-sidebar>
                    <recognition></recognition>
                    <tech-menu></tech-menu>
                </div>
            </div>
        </mat-sidenav-content>
        <mat-sidenav #rightSidePanel  mode="over" position="end">
            <ng-container [ngSwitch]="data.activePanel">
                <settings-panel *ngSwitchCase="Panel.SETTINGS"></settings-panel>
                <topic-panel *ngSwitchCase="Panel.TOPIC"></topic-panel>
            </ng-container>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
