<ng-container *ngIf="{
    dictionaryAnswers: dictionaryAnswers$ | async,
    selectedTech: selectedTech$ | async,
    techs: techs$ | async
} as data">
    <form class="outer-form" [formGroup]="topicDeleteForm">
        <mat-form-field appearance="outline" class="tech-field">
            <mat-label>Technology</mat-label>
            <mat-select [formControl]="techField" required (selectionChange)="onTechSelect($event)">
                <mat-option *ngFor="let tech of data.techs" [value]="tech">
                    <tech-label [tech]="tech"></tech-label>
                </mat-option>
            </mat-select>
            <mat-hint>Technology</mat-hint>
        </mat-form-field>

        <form *ngIf="data.selectedTech" [formGroup]="enabledTopicsFields">
            <div *ngFor="let dictionaryAnswer of data.dictionaryAnswers; let index = index" class="topic">
                <mat-slide-toggle [formControlName]="dictionaryAnswer.topic" color="primary">
                    <span class="text" [class.marked-for-delete]="dictionaryAnswer.isMarkedForDelete">
                        {{dictionaryAnswer.topic}}
                    </span>
                </mat-slide-toggle>
                <button 
                    mat-icon-button
                    class="delete"
                    (click)="toggleMarkForDelete(data.dictionaryAnswers ?? [], index)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
        </form>
    </form>

    <div class="footer">
        <mat-divider></mat-divider>
        <button 
            mat-raised-button
            color="primary"
            [disabled]="!data.selectedTech"
            (click)="saveEnabledAnswers(data.dictionaryAnswers ?? [])">
            Save
        </button>
    </div>
</ng-container>
