@import '../../styles.scss';

.outer-form {
  height: calc(100vh - calc(3 * $header-height + 118px));
  padding: 24px;
}

.tech-field {
  width: 100%;
}

.topic .text {
  padding-left: 12px;

  &.marked-for-delete {
    text-decoration: line-through;
  }
}

button.delete {
  vertical-align: middle;
}

.footer {
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: $topic-panel-width;

  button {
    margin: 16px;
    padding: 12px 48px;
  }
}