<ng-container *ngIf="{
    dictionaryAnswers: dictionaryAnswers$ | async,
    selectedTech: selectedTech$ | async,
    techs: techs$ | async
} as data">
    <form class="outer-form" [formGroup]="topicDeleteForm">
        <mat-form-field appearance="outline" class="tech-field">
            <mat-label>Technology</mat-label>
            <mat-select [formControl]="techField" required (selectionChange)="onTechSelect($event)">
                <mat-option *ngFor="let tech of data.techs" [value]="tech">
                    <tech-label [tech]="tech"></tech-label>
                </mat-option>
            </mat-select>
            <mat-hint>Technology</mat-hint>
        </mat-form-field>

        <form *ngIf="data.selectedTech" [formGroup]="enabledTopicsFields">
            <p *ngFor="let dictionaryAnswer of data.dictionaryAnswers" class="topic">
                <mat-slide-toggle [formControlName]="dictionaryAnswer.topic" color="primary">
                    {{dictionaryAnswer.topic}}
                </mat-slide-toggle>
            </p>
        </form>
    </form>

    <div class="footer">
        <mat-divider></mat-divider>
        <button 
            mat-raised-button
            color="primary"
            [disabled]="!data.selectedTech"
            (click)="saveEnabledAnswers()">
            Save
        </button>
    </div>
</ng-container>
