<div class="header">
    <h2>Topic editor</h2>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider></mat-divider>

<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Create">
        <topic-create-form (dictionaryAnswer)="onFormChange($event)"></topic-create-form>
    </mat-tab>
    <mat-tab label="Update">Update</mat-tab>
    <mat-tab label="Delete">Delete</mat-tab>
</mat-tab-group>

<div class="footer">
    <mat-divider></mat-divider>
    <button 
        mat-raised-button 
        color="primary"
        [disabled]="!dictionaryAnswer"
        (click)="saveTopic()">
        Save
    </button>
</div>