@import 'themes';

$button-bar-width: 64px;
$header-height: 48px;
$settings-panel-width: 300px;
$topic-panel-width: 500px;

html, 
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
